body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timer, .attempts {
    font-size: 24px;
    color: #333;
}

.restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #45a049;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 150%; /* Ratio 2:3 (width:height) */
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.card-front {
    background-color: #4CAF50; /* Couleur verte pour le recto des cartes */
    color: transparent; /* Rendre le texte complètement invisible */
    text-indent: -9999px; /* Masquer le texte même en cas de transparence */
}

.card-back {
    background-color: #fff;
    color: #000;
    transform: rotateY(180deg);
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

